td,
tr{
  padding: 20px;
}

th {
    text-align: center;
}

body > table:nth-child(1){
  width: 100%;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}

body > table:nth-child(1) > tbody > tr > td:nth-child(1) > img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

body > table:nth-child(1) > tbody > tr > td:nth-child(2) > span{
  font-size: 50px;
}

body > table:nth-child(1) > tbody > tr > td:nth-child(2){
  padding-left: 270px;
}

/*history*/
body > div:nth-child(2) > table > tbody > tr > td:nth-child(3){
  table-layout: fixed;
  width: 75%;
}

body > div > table > tbody > tr > td:nth-child(2) > img{
  height: 390px;
  width: 590;
  border-radius: 8px;
}

body > div:nth-child(2) > table{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

body > div > table > tbody > tr > td:nth-child(1) > div{
  border: 5px solid bisque;
  background-color: bisque;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
}

body > div > table > tbody > tr > td:nth-child(4) > div{
  border: 5px solid bisque;
  background-color: bisque;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
}

/*bio & preference*/
body > table:nth-child(4){
  table-layout: fixed;
  width: 100%;
  padding: 20px;
}

body > table:nth-child(4) > tbody > tr > td:nth-child(1) > table{
  width: 670px;
  height: 300px;
  background-color: darksalmon;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

body > table:nth-child(4) > tbody > tr > td:nth-child(2) > table{
  width: 670px;
  height: 300px;
  background-color: darksalmon;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

}

/*special*/
body > h1{
  text-align: center;
}

body > table:nth-child(6){
  width: 100%;
  table-layout: fixed;
  padding: 20px;
}

* {box-sizing: border-box}

body > table:nth-child(6) > tbody > tr > td:nth-child(1) > div{
  width: 100%;
  background-color: #ddd;
}

body > table:nth-child(6) > tbody > tr > td:nth-child(2) > div{
  width: 100%;
  background-color: #ddd;
}

body > table:nth-child(6) > tbody > tr > td:nth-child(3) > div{
  width: 100%;
  background-color: #ddd;
}

body > table:nth-child(6) > tbody > tr > td:nth-child(1) > div > div{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 70%; 
  background-color: #4CAF50;
}

body > table:nth-child(6) > tbody > tr > td:nth-child(2) > div > div{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 60%; 
  background-color: #2196F3;
}

body > table:nth-child(6) > tbody > tr > td:nth-child(3) > div > div{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 50%; 
  background-color: #f44336;
}


/*footer*/
body > table:nth-child(7){
  width: 100%;
  background-color: antiquewhite;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(1) > img{
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(1){
  width: 5px;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(4){
  width: 400px;
  font-size: 12px;
}


/* Style all font awesome icons */

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-facebook{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-facebook:hover{
  opacity: 0.7;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-instagram{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-instagram:hover{
  opacity: 0.7;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-twitter{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

body > table:nth-child(7) > tbody > tr > td:nth-child(2) > a.fa.fa-twitter:hover{
  opacity: 0.7;
}
  